.features {
    // grid-column: center-start /;
  
    
    display: grid;
    grid-template-rows: 25rem 30rem;
    grid-template-columns: repeat(3, 1fr);
    grid-column: center-start / center-end;
    align-items: start;
    padding: 5rem 5rem;
    background-color: $color-grey-light-2;
    grid-gap: 0;




    // @supports(display: grid) {
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    //     grid-gap: 6rem;
    //     align-items: start;
    // }


    // & > * {
    //     background-color: $color-grey-light-2;
    //     padding: 5rem 5rem;
        
    // }
}


.support {
    grid-column: 1 / -1;
    // padding-bottom: 5rem;
    text-align: center;
    // border-bottom: .5rem solid $color-primary-1;

    &__long-copy{
        line-height: 145%;
        color:$color-grey-dark-4;
        font-size: 1.9rem;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 3rem;

    }

}

.feature {

    float: left;
    width: 33.3333%;
    margin-bottom: 1rem;

    @supports(display: grid) {
        width: auto;
        margin-bottom: 0;
    }

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    
    transition: color .5s;

    &__icon {
        fill: $color-primary-1;
        width: 3.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-2rem);
    }

    &__icon:hover{
        color: $color-secondary-light;
    }

    &__text {
        font-size: 1.9rem;
    }
}


